/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

body {
 background-color:#F9DBBA; 
}

/* STYLE TEXT */

h1 {
  color: #1F316F;
}

/* STYLE IMAGES */
 .images{
   max-width: 100px;
   max-height: 100px;
}
/* STYLE NAV BAR */

/* STYLE BUTTONS */

/* ADD MORE! */
#mainPoints{
}