/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

body {
 background-color:#F9DBBA; 
}

/* STYLE TEXT */

h1 {
  color: #1F316F;
}

/* STYLE IMAGES */
 {
   
}
/* STYLE NAV BAR */

/* STYLE BUTTONS */

/* ADD MORE! */